# pymysql모듈 이해 및실습
## pymysql라이브러리 소개 및 설치

mysql을 python에서 사용할수있는 라이브러리

In [55]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python313\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

일반적인 mysql핸들링 코드 작성 순서

1. pymysql 모듈 import
2. pymysql.connet()메소드를 사용하여 MYSQL에 연결
호스트명,포트,로그인,암호,접속할 DB등을 파라미터로 지정

3. MYSQL접속이 성공하면 Connection객체로부터 cursor()메서드를 호출하여 cursor객체를 가져옴

4. cursor객체의 execute() 메서드를 사용하여 sql문장을 db서버에전송

5. sql쿼리의 경우 cursor객체의 fetchall(),fetchone(),fetchmany() 등의 메서드를 사용하여 서버로부터 가져온 데이터를 코드에서 활용

6. 삽입,객체,삭제등의 DML문장을 실행하는 경우 INSERT/UPDATE/DELETE후 CONNECTION객체의 COMMIT() 메서드를 사용하여 데이터를 확정

7. Connection객체의 close()메서드를 사용하여 db연결을 닫음

In [57]:
import pymysql

# dbms연결코드
# password는 본인 password입력
db=pymysql.connect(host="localhost",port=3306,user='root',password='admin',charset='utf8')

In [58]:
db

In [4]:
cursor=db.cursor()
sql="CREATE DATABASE IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [11]:
sql='SHOW DATABASES'
cursor.execute(sql)
result=cursor.fetchall()
result

(('ecommerce',),
 ('employees',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [19]:
cursor.fetchmany(5)

ProgrammingError: execute() first

In [9]:
sql="USE ecommerce"  #db변경
cursor.execute(sql)

0

In [11]:
# 현재 db확인
sql="SELECT DATABASE()"
cursor.execute(sql)
result=cursor.fetchall()
result

(('ecommerce',),)

In [12]:
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [13]:
cursor.execute(sql)

OperationalError: (1050, "Table 'product' already exists")

In [14]:
sql="SHOW TABLES"
cursor.execute(sql)
result= cursor.fetchall()
result

(('product',),)

In [15]:
db.close()

In [16]:
import pymysql

db=pymysql.connect(host='localhost',port=3306,user='root',password="admin",database="ecommerce",charset="utf8")

In [17]:
cursor=db.cursor()

In [20]:
sql = """
    CREATE TABLE IF NOT EXISTS product2 (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [21]:
cursor.execute(sql)

0

In [22]:
db.commit()

In [23]:
db.close()

In [25]:
import pymysql

db=pymysql.connect(host="localhost",port=3306,user="root",password="admin",database="ecommerce",charset="utf8")
cursor=db.cursor()

In [26]:
for index in range(10):
    product_code=216573150 + index +1
    sql="""INSERT INTO product2 VALUES('"""+str(product_code)+"""','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');"""
    print(sql)
    cursor.execute(sql)

INSERT INTO product2 VALUES('216573151','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573152','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573153','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573154','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573155','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573156','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573157','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573158','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573159','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');
INSERT INTO product2 VALUES('216573160','스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',23000,6900,70,'F');

In [27]:
db.commit()

In [28]:
db.close()

## SELECT 문

In [59]:
import pymysql

db=pymysql.connect(host="localhost",port=3306,user="root",password="admin",database="ecommerce",charset='utf8')
cursor=db.cursor()

In [60]:
sql="SELECT * FROM product2"
cursor.execute(sql)

10

In [61]:
result=cursor.fetchone()  # 첫번째데이터 나옴
result

('216573151', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [43]:
result=cursor.fetchone() ## 두번째 데이터가 나옴
result

('216573152', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [44]:
result=cursor.fetchmany(2)
result

(('216573153', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573154', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [45]:
result=cursor.fetchall()  # 첫번째 두번째 데이터 빼고 나머지가 나옴

result

(('216573155', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573156', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573157', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573158', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573159', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573160', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [46]:
db.close()

## UPDATE문

In [71]:
import pymysql

db=pymysql.connect(host="localhost",port=3306,user="root",password="admin",database="ecommerce",charset='utf8')

In [72]:
cursor = db.cursor()

In [73]:


sql = """
UPDATE product2 SET
TITLE='하늘하늘 원피스 썸머 스페셜 가디건',
ORI_PRICE=33000,
DISCOUNT_PRICE=9900,
DISCOUNT_PERCENT=70
WHERE PRODUCT_CODE='216573151';
"""

In [74]:
cursor.execute(sql)

0

In [75]:
db.commit()

In [76]:
sql="select * from product2 where product_code='216573151';"

cursor.execute(sql)

result=cursor.fetchone()
result

('216573151', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F')

In [77]:
db.close()

## DELETE

In [78]:
import pymysql

db=pymysql.connect(host="localhost",port=3306,user="root",password="admin",database="ecommerce",charset='utf8')

cursor=db.cursor()

In [79]:
sql="DELETE FROM product2 WHERE product_code='216573151';"
cursor.execute(sql)
db.commit()
db.close()

In [81]:
import pymysql

db=pymysql.connect(host='localhost',port=3306,user="root",password="admin",database="ecommerce",charset='utf8')

cursor=db.cursor()

sql="SELECT * FROM product2 WHERE product_code='216573151';"

cursor.execute(sql)
result=cursor.fetchone()

print(result)
db.commit()
db.close()

None

In [ ]:
import pymysql

db=pymysql.connect(host='localhost',port=3306,user="root",password="admin",database="ecommerce",charset='utf8')

cursor=db.cursor()

sql = """
UPDATE product2 SET
TITLE='하늘하늘 원피스 썸머 스페셜 가디건',
ORI_PRICE=33000,
DISCOUNT_PRICE=9900,
DISCOUNT_PERCENT=70
WHERE PRODUCT_CODE='216573151';
"""


cursor.execute(sql)
db.commit()
sql2="DELETE FROM product2 WHERE product_code='216573151';"
cursor.execute(sql2)
db.commit()

sql3="SELECT * FROM product2 WHERE product_code='216573151';"

cursor.execute(sql3)
result=cursor.fetchone()
db.commit()
db.close()